<%= content_for :page_header do %>
	<h1>Update Your Profile</h1>
<% end %>

<%= content_for :ribbon_links do %>
	<li><%= link_to 'Cancel', decks_path %></li>
<% end %>

<p><%= alert %></p>

<%= form_tag( registration_path, :method => :put ) do %>
	<% if @user.errors.any? %>
	  <div id="error_explanation">
	    <h2><%= pluralize(@user.errors.count, "error") %> prohibited your account from being saved:</h2>

	    <ul>
	    <% @user.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
	<% end %>
	<p>
		<%= label_tag :email %><br/>
		<%= text_field_tag :email, @user.email %>
	</p>
	<p>
		<%= label_tag :password %><br/>
		<%= password_field_tag :password %>
	</p>
	<p>
		<%= label_tag :password_confirmation %><br/>
		<%= password_field_tag :password_confirmation %>
	</p>
	<p>
		<%= submit_tag "Update Profile" %>
	</p>
<% end %>