<p>
	<%= label_tag :password %>
	<%= password_field_tag :password %>
</p>
<p>
	<%= label_tag :password_confirmation %>
	<%= password_field_tag :password_confirmation %>
</p>
<p>
	<%= submit_tag 'Register', {id: 'action_button'} %>
</p>
