<h1>Home#index</h1>

<%= notice %>

<p>
	<% if session[:user] %>
		<%= link_to 'Logout', logout_path, :method => :delete %>
	<% else %>
		<%= link_to 'Login', new_session_path %>
	<% end %>
</p>

<%= form_tag :user, id: 'home_form' do %>
	<p>
		<%= label_tag :email %>
		<%= text_field_tag :email %>
	</p>
	<div id="additional_fields"></div>
	<p>
		<%= submit_tag 'Login / Register', {id: 'action_button'} %>
	</p>
<% end %>
