<h1>Home#index</h1>

<%= notice %>

<%= form_tag :users, id: 'home_form' do %>
	<p>
		<%= label_tag :email %>
		<%= text_field_tag :email %>
	</p>
	<div id="additional_fields"></div>
	<p>
		<%= submit_tag 'Login / Register', {id: 'action_button'} %>
	</p>
<% end %>
