<h1>Home#index</h1>

<%= notice %>

<p>
	<% if session[:user] %>
		<%= link_to 'Logout', logout_path, :method => :delete %>
	<% else %>
		<%= link_to 'Login', new_session_path %>
	<% end %>
</p>

<div id="something"></div>

<%= form_for @user do |f| %>
	<p>
		<%= f.label :email %>
		<%= f.text_field :email %>
	</p>
	<p>
		<%= f.submit 'Send Email', {id: 'action_button'} %>
	</p>
<% end %>
