<%# cards index %>

<%= content_for :page_header do %>
	<h1>Deck "<%= @deck.name %>"</h1>
	<%= link_to "Back to Decks", decks_path %>
<% end %>

<%= content_for :ribbon_links do %>
	<li><%= link_to 'Add a New Card', new_deck_card_path(@deck) %></li>
	<li><%= link_to 'Reorder Deck', deck_reorder_path(@deck) %></li>
	<li><%= link_to 'Destroy this Deck', deck_path(@deck), method: :delete, confirm: "Are you sure? This cannot be undone." %></li>
<% end %>


<p><%= notice %></p>


<ol class="cards">
	<% @cards.each do |card| %>
		<li>
			<%= link_to '', deck_card_path(@deck, card), method: :delete, class: 'manage', confirm: "Are you sure?  This cannot be undone." %>
			<%= render card %>
		</li>
	<% end %>
</ol>















