<%# cards index %>

<%= content_for :page_header do %>
	<h1>Deck "<%= @deck.name %>"</h1>
	<%= link_to "Back to Decks", decks_path %>
<% end %>

<%= content_for :ribbon_links do %>
	<li><%= link_to 'Add a New Card', new_deck_card_path(@deck) %></li>
	<li><%= link_to 'Reorder Deck', deck_reorder_path(@deck) %></li>
<% end %>


<p><%= notice %></p>


<ol class="cards">
	<% @cards.each do |card| %>
		<li>
			<%= render card %>
		</li>
	<% end %>
</ol>















