<!DOCTYPE html>
<html>
<head>
  <title>Flashcards</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= controller.controller_name %>_<%= controller.action_name %>">

	<section id="page">
		<header id="main">
			<h1><%= yield :page_header %></h1>
		</header>

		<div id="content"><%= yield %></div>
				
		<nav id="session_links">
			<% if current_user %>
				<%= link_to 'Edit Profile', edit_registration_path(current_user) %> |
				<%= link_to 'Logout', logout_path, :method => :delete %>
			<% end %>
		</nav>

		<section id="control_panel">
			<h1>Little White Cards</h1>
			<nav id="ribbon">
				<ul>
					<li class="about_us"><%= link_to 'About', '' %></li>
					<li class="contact_us"><%= link_to 'Contact', '' %></li>
					<%= yield :ribbon_links %>
				</ul>
			</nav>
		</section>
	</section>

</body>
</html>












