<!DOCTYPE html>
<html>
<head>
  <title>Flashcards</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  <%= csrf_meta_tags %>
</head>
<body id="<%= controller.controller_name %>_<%= controller.action_name %>">

	<div id="page">
		
		<header id="main">
			<div class="narrow">
				<h1><%= yield :page_header %></h1>
			</div>
		</header>
		
		<div id="flash_holder"><%= render 'shared/flash_messages' %></div>

		<div class="narrow">
			<section id="content">
				<%= yield %>
				
				<noscript id="noscript">
					<p>This site requires that JavaScript be enabled in your browser.  This is done to provide the best interactive experience to our users.</p>
					<p>If you need instructions on how to do this please visit <%= link_to 'enable-javascript.com', 'http://enable-javascript.com/', style: 'color: blue;' %>.</p>
				</noscript>
			</section>

			<section id="control_panel">
				<nav id="session_links">
					<% if current_user %>
						<%= link_to 'Your Profile', edit_registration_path(current_user) %> |
						<%= link_to 'Logout', logout_path, :method => :delete %>
					<% end %>
				</nav>
			
				<h1>Little White Cards</h1>
				<nav id="ribbon">
					<ul>
						<%= yield :ribbon_links %>
						<li class="about_us"><%= link_to 'About', '' %></li>
						<li class="contact_us"><%= link_to 'Contact', '' %></li>
						<li class="home_link"><%= link_to 'LittleWhiteCards.com', root_path %></li>
						<li class="copyright">Copyright &copy; 2012 - <%= Time.zone.now.year %></li>
						<li id="end"></li>
					</ul>
				</nav>
			</section>
		</div> <!--end narrow-->
			
		<footer id="main">
			<div class="narrow">
				<span class="copyright">Copyright &copy; 2012 - <%= Time.zone.now.year %></span>
				<%= link_to 'LittleWhiteCards.com', root_path, class: 'home_link' %>
				<%= link_to 'About', '', class: 'about_us' %>
				<%= link_to 'Contact', '', class: 'contact_us' %>
			</div>
		</footer>
	</div> <!--end page-->

</body>
</html>












